body {
    background-color: midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    width: 400px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
}

.top {
    height: 120px;
    background: red;
    text-align: center;
    font-size: 2rem;
}

.middle {
    height: 110px;
    background: white;
}

.bottom {
    height: 40px;
    background: red;
}

.hello {
    font-size: 3.5rem;
}